
footer{
  background-color:#2c3742;
  box-shadow:inset 0px 0px 3px #111;
  color:#fff;
  font-size:14px;
  line-height:25px;
  padding:10px 0px 10px 0px;
  bottom: 0px;
}

footer a{
  color:#eee;
  text-decoration:none;
  border-bottom:1px dotted #888;
}

footer a:hover{
  color:#aaa;
  text-decoration:none;
  border:0px;
}

footer hr{
  margin-top: 10px;
  margin-bottom: 10px;
  border-top: #000 1px solid;
  border-bottom: #212121 1px solid;
}

footer .copy{
  font-size:13px;
  margin:15px 0px;
}