.profile-avatar
{
  width: 150px;
  height: 150px;
  float: left;
  border-radius: 50%;
  margin-right: 25px;
}

.topbar-profile-avatar
{
  position: absolute;
  top: 0;
  left: -30px;
  bottom: 32px;
  width: 32px;
  height: 32px;

  border-radius: 50%;
}